* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#62b8f6), to(#2c79c1));
  background: linear-gradient(180deg, #62b8f6 0%, #2c79c1 100%);
  min-height: 100dvh;
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
  color: #fff;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
}

button {
  background-color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#add-city {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__add-city.active #add-city {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-city {
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  scale: 1;
  margin: 0;
}
.nav-city.hiden {
  scale: 0;
  margin-top: -150%;
  position: absolute;
}
.nav-city__reset-btn.active {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.icon {
  cursor: pointer;
  stroke: #000;
}

.inp-block {
  margin-top: -100%;
  position: absolute;
  scale: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  border-radius: 20px;
  overflow: hidden;
}
.inp-block__input {
  width: 100%;
  height: 100%;
  border: #2c79c1;
  padding-left: 15px;
  padding-right: 25%;
  outline: none;
}
.inp-block__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.inp-block__button * {
  width: 100%;
  height: 100%;
  fill: #2c79c1;
}
.inp-block.active {
  position: relative;
  margin: 0;
  scale: 1;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__img {
  width: 250px;
}
.main__day {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.main__temp {
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0em;
}
.main__temp-desc {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.01em;
}
.main__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-inline: auto;
}
.main__more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 56px;
}
.main__more-info-icon-img {
  width: 56px;
  width: 100%;
  aspect-ratio: 1;
  display: block;
}
.main__more-info span {
  display: block;
}